NODE_ENV=development
IMAGE_TAG=latest

BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
OAUTH_STATE_SECRET=your-oauth-state-secret-here

PORT=8000
BACKEND_PORT=8000
POSTGRES_PORT=5432
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=lms_be
DB_SYNCHRONIZE=true
PASSWORD_HASH_SALT=10
SEED_USER_PASSWORD=1508
SEED_RESET_USER_PASSWORD=false
SEED_ADMIN_EMAIL=super.admin@gmail.com
SEED_TEST_USER_EMAIL=user.testing@gmail.com

JWT_SECRET=your-jwt-secret-here
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d
REFRESH_TOKEN_TTL_DAYS=30
JWT_REFRESH_SECRET=your-jwt-refresh-secret-here

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

MAX_ATTEMPTS_RETRY=3
WORKER_MODE=true

BUNNY_API_URL=https://video.bunnycdn.com
BUNNY_API_KEY=
BUNNY_LIBRARY_ID=
BUNNY_STREAM_SECRET=
BUNNY_STREAM_IFRAME_URL=https://iframe.mediadelivery.net/embed

MAXIMUM_DESKTOP_DEVICE_COUNT=1
MAXIMUM_MOBILE_DEVICE_COUNT=1
